body{
font-family: "微软雅黑";	
}
.navbar{
margin: 0;	
}
.navbar-brand img{
width: 20px;	
height: 23px;
margin: 0 15px;
}
.navbar-text{
margin-left:0px;	
font-size: 16px;
}
.navbar-nav{
float: right;
margin-right: 35px;	
}
.navbar-nav a{
text-align: center;	
}
.dropdown-toggle{
font-size: 18px;	
}
.news{
padding: 5px 0;	
}
.float a small{float: right;}
.progress{
	margin:0;
	margin-top:10px;
	height: 10px;
}
.navbar-link{
display:block;
text-align: center;	
}
.navbar-link:hover{
text-decoration: none;
}
.lipadding{
padding: 5px 0;	
}
.page-sidebar {
    display: block;
    width: 213px;
    float: left;
    min-height: 100% !important;
    height: auto;
    background-color: #EBEBEB;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 7px;
}
.page-sidebar > ul > li.dropdown {
    position: relative;
}
.page-sidebar li {
    display: list-item;
    line-height: 20px;
}
.nav-list>li>a {
    display: block;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    background-color: #f9f9f9;
    color: #585858;
    text-shadow: none!important;
    font-size: 13px;
    text-decoration: none;
}
.nav-list>li a>.arrow {
    font-size: 11px;
}
.breadcrumbs {
    height: 41px;
    margin: 0;
    line-height: 41px;
}
.font-color{
color: #eb6115;	
}
.breadcrumb .home-icon{
font-size: 16px;	
}
.panel-default{
height: 60px;
overflow: hidden;	
}
.alert-dismissible{
margin: 5px 20px;
padding-left: 30px;	
}
.nav-list>li>.submenu a>.arrow{
font-size: 10px;	
}
.panel-body{
height: 60px;	
}
nav{
text-align: center;	
}
.table-responsive{
padding: 20px 100px 20px 20px;	
font-size: 16px;
}
.tdWidth{
min-width:150px;
padding: 0 !important;
line-height: 51px !important;
text-align: center;
}
.table-bordered{
font-size: 16px;
}
table tr td .form-control{
width: 600px;	
padding-left:20px; 
}
.panel-success{
background:#d6e9c6;
padding-left: 20px;	
}
button a{
color: #fff;	
}
button a:hover{
text-decoration: none;
color: #fff;
}
.panel-body .color{
color: #bb4728;	
}
td .row{
max-width: 500px;
}
.editor{
width: 100%;
height:auto;	
}
#editor{
width: 1000px;
min-height: 500px;
}
.audited{
background:#cfe8c4; 	
}
.auditing{
background: #e8c7c7;	
}
.none-margin-left{
margin-left: 0;
}
.flash{
top: 300px;
left: 8%;
}
.panel-bg{
   background: #d6e9c6; 
}
.btn-style{
  margin-top: 20px;  
}
.rec_prev{
	height:80px;
	width:200px;
	float:left;	
}
.rec_middle{
	margin-left:8px;
	height:80px;
	width:200px;
	float:left;	
}
.rec_suffix{
	margin-left:4px;
	height:80px;
	padding:24px;
	float:left;	
}