.main-form{
margin: 0 auto;
width: calc(85% - 2px);
text-align:center;
}  
.main-form{
font-family: 'Microsoft JhengHei UI Bold', 'Microsoft JhengHei UI';	
padding: 30px 0;
}
.main-form .message{
font-size: 24px;
text-align: center;
color: #333;	
}
.main-form .p{
font-size: 16px;
color: #666;
text-align: center;	
margin: 15px 0;
}
.main-form form{
width: calc(100% - 2px);
}
.text1{
width: 58%;
font-size: 16px;
height: 35px;
background-color: #f7f7f7;	
border: 0;
outline: none;
margin: 20px 19% 0 15%;
}
.text{
width:28%;
height: 35px;
line-height: 35px;
background-color: #f7f7f7;	
border: 0;
font-size: 16px;
outline: none;
margin-top: 20px;
margin-left: 2%;
float: left;
text-align: left;
}
.text2{
width: 58%;
height: 80px;
background-color: #f7f7f7;	
border: 0;
outline: none;
margin: 20px 19% 0 15%;
font-size: 16px;
}
.text3{
width:28%;
height: 35px;
background-color: #f7f7f7;	
font-size: 16px;
margin-top: 20px;
margin-left: 2%;
float: left;
text-align: left;
}
.submit{
width:8%;
height: 40px;
line-height: 40px;
background-color: #009c38;	
margin-left: 19% ;
float: left;
border: 0;
outline: none;
margin-top: 20px;
color: #fff;
cursor: pointer;
}
.submit1{
width:8%;
height: 40px;
line-height: 40px;
background-color: #009c38;	
margin-left: 2% ;
float: left;
border: 0;
outline: none;
margin-top: 20px;
color: #fff;
cursor: pointer;
}
.text-f{
margin-left: 19% ;	
}

form{
	font-size: 14px;
}
form label{
height: 35px;
line-height: 35px;	
}
.radio{
background-color: #f7f7f7;	
border: 0;
display: inline-block;width:15px;height: 15px;background: #999;cursor: pointer;
margin-left: 5px;
}
span.error{display:block;color:#C00;float: right;margin-top:30px;}  
@media only screen and (max-width:1025px){	
span.error{
display:none !important;
}  	
.main-form{
width: calc(100% - 2px);
}  
.text1{
width: 80%;
padding-left:2%;
font-size: 16px;
height: 35px;
background-color: #f7f7f7;	
border: 0;
outline: none;
margin: 20px 9% 0 9%;
}
.text{
width:38%;
padding-left:2%;
margin-left: 2%;
}
.text2{
width:80%;
padding-left:2%;
height: 80px;
background-color: #f7f7f7;	
border: 0;
outline: none;
margin: 20px 9% 0 9%;
font-size: 16px;
}
.text3{
width:38%;
padding-left:2%;
height: 35px;
background-color: #f7f7f7;	
font-size: 16px;
margin-top: 20px;
margin-left: 2%;
float: left;
text-align: left;
}
.submit{
width:15%;
height: 40px;
line-height: 40px;
background-color: #009c38;	
margin-left: 9% ;
float: left;
border: 0;
outline: none;
margin-top: 20px;
color: #fff;
cursor: pointer;
}
.submit1{
width:15%;
height: 40px;
line-height: 40px;
background-color: #009c38;	
margin-left: 2% ;
float: left;
border: 0;
outline: none;
margin-top: 20px;
color: #fff;
cursor: pointer;
}
.text-f{
margin-left: 9% ;	
}

}